.footer {
  flex: 0 0 20%;
  background: $headerColor;
  max-height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  &__refs {
    display: inherit;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-between;
    a {
      color: $grennBlueColor;
      text-transform: uppercase;
      @include adaptiv-font(14, 12);
    }
  }
}
